*/.env*
!**/.env.example
.github
**/node_modules/
**/cache/*

**/.gitignore
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/tests
.phpactor.json
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

/.ai
/.junie
/boost.json
/CLAUDE.md
